In [58]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None) # MUESTRA TODAS LAS COLUMNAS DE UN PANDAS DATAFRAME
from fastapi import FastAPI
import ast
import sklearn

In [59]:
# Cargo y uno los datasets
d1= pd.read_csv(r'C:\Users\Edwin\Desktop\Henry\M7. Proyecto Individual I\Datasets\movies_dataset.csv', sep=',')
d2= pd.read_csv(r'C:\Users\Edwin\Desktop\Henry\M7. Proyecto Individual I\Datasets\credits.csv',sep=',')
data= pd.concat([d1, d2], axis=1)
data.head()

C:\Users\Edwin\AppData\Local\Temp\ipykernel_8060\383725163.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  d1= pd.read_csv(r'C:\Users\Edwin\Desktop\Henry\M7. Proyecto Individual I\Datasets\movies_dataset.csv', sep=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,id
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [60]:
# Eliminar las columnas que no serán utilizadas,
# video,imdb_id,adult,original_title,poster_path y homepage.
columnas_no_utilizadas = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
data.drop(columnas_no_utilizadas, axis=1, inplace=True)

In [61]:
#Detectar valores NaN con la función isna() y sumarlos por campo
data.isna().sum()

belongs_to_collection    40982
budget                      10
genres                      10
id                          10
original_language           21
overview                   964
popularity                  15
production_companies        13
production_countries        13
release_date                97
revenue                     16
runtime                    273
spoken_languages            16
status                      97
tagline                  25064
title                       16
vote_average                16
vote_count                  16
cast                         0
crew                         0
id                           0
dtype: int64

In [62]:
# Rellenar los valores nulos en los campos 'revenue' y 'budget' con 0
data['revenue'].fillna(0, inplace=True)
data['budget'].fillna(0, inplace=True)

In [63]:
# Eliminar filas con valores nulos en 'release date'
data.dropna(subset=['release_date'], inplace=True)

In [64]:
# Ver si quedaron valores nulos que revisar 
data.isna().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   2
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
vote_average                 3
vote_count                   3
cast                         0
crew                         0
id                           0
dtype: int64

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  object
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45379 non-null  object
 19  crew                   45379 non-null  object
 20  id                     45379 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 7.6+ MB

In [66]:
# Convertir la columna 'release date' a tipo de datos de fecha
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')

# Cambiar las fechas en el formato 'AAAA-mm-dd'
data['release _date'] = data['release_date'].dt.strftime('%Y-%m-%d')

In [67]:
# Crear la columna 'release_year' a partir del año de la fecha de estreno
data['release_year'] = data['release_date'].dt.strftime('%Y')

In [68]:
data.head(4)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,id,release _date,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1995-10-30,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,1995-12-15,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,1995-12-22,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,1995-12-22,1995

In [69]:
# Verifico si se cambiaron los tipos de datos
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  object
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45379 non-null  object
 19  crew                   45379 non-null  object
 20  id                     45379 non-null  int64
 21  release _date          45376 non-null  object
 22  release_year           45376 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(17)
memory usage: 8.3+ MB

In [74]:
# Convertir las columnas 'revenue' y 'budget' a tipo numérico
data['revenue'] = pd.to_numeric(data['revenue'], errors='coerce')
data['budget'] = pd.to_numeric(data['budget'], errors='coerce')

# Crear la columna 'return' con el cálculo del retorno de inversión y tratar los valores de cero
data['return'] = np.where(
    (data['budget'] == 0) | (data['revenue'] == 0),
    0,  # Valor predeterminado para los casos en los que budget o revenue sea cero
    data['revenue'] / data['budget'])

In [35]:
# Verificar si los valores nulos fueron reemplazados por el valor numérico 0
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  cast                   45379 non-null  object
 19  crew                   45379 non-null  object
 20  id                     45379 non-null  int64
 21  release _date          45376 non-null  object
 22  release_year           45376 non-null  object
 23  return                 45379 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(16)
memory usage: 8.7+ MB

In [70]:
# Eliminar la primera columna "release date"
data.drop('release_date', axis=1, inplace=True)

In [71]:
# Convertir la columna 'belongs_to_collection' en formato de diccionario
# Es normal que este proceso tarde 6 min o mas
data['belongs_to_collection'] = data['belongs_to_collection'].apply(lambda x: eval(x) if pd.notnull(x) else {})
data['genres'] = data['genres'].apply(lambda x: eval(x) if pd.notnull(x) else {})
data['spoken_languages'] = data['spoken_languages'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
data['production_companies'] = data['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) and isinstance(x, str) else [])
data['production_countries'] = data['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
data['cast'] = data['cast'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
data['crew'] = data['crew'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

# Desanidar 
df_production_countries = data['production_countries'].apply(lambda x: [country['name'] for country in x] if isinstance(x, list) else [])
df_belongs_to_collection = data['belongs_to_collection'].apply(lambda x: x.get('name', '').replace(' Collection', '') if isinstance(x, dict) else '')
df_genres = data['genres'].apply(lambda x: [genre['name'] for genre in x])
df_spoken_languages = data['spoken_languages'].apply(lambda x: [lang['name'] for lang in x])
df_production_companies = data['production_companies'].apply(lambda x: [prod['name'] for prod in x] if isinstance(x, list) else [])
df_cast = data['cast'].apply(lambda x: [(item['character'], item['name']) for item in x])
df_crew = data['crew'].apply(lambda x: [(item['department'], item['name']) for item in x])
df_directors = data['crew'].apply(lambda x: [item['name'] for item in x if item['department'] == 'Directing'])

duplicated_columns = ['belongs_to_collection', 'genres', 'spoken_languages', 'production_companies', 'production_countries', 'cast', 'crew']

# Crear el DataFrame df_movies con las columnas desanidadas y las demás columnas del dataset original
df_movies = pd.concat([df_belongs_to_collection, df_genres, df_spoken_languages, df_production_companies, df_production_countries, df_cast, df_crew.rename('crew'), df_directors.rename('directors'), data.drop(columns=duplicated_columns)], axis=1)

In [77]:
# Se verifica que se han extraido bien los valores de las claves 'name'
print (df_movies.iloc[0]['belongs_to_collection'])  # 'Diccionario'
print (df_movies.iloc[0]['genres'])   # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['spoken_languages'])   # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['production_companies'])  # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['production_countries'])  # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['cast']) # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['crew']) # 'Listas de Diccionarios o json'
print (df_movies.iloc[0]['directors'])

Toy Story
['Animation', 'Comedy', 'Family']
['English']
['Pixar Animation Studios']
['United States of America']
[('Woody (voice)', 'Tom Hanks'), ('Buzz Lightyear (voice)', 'Tim Allen'), ('Mr. Potato Head (voice)', 'Don Rickles'), ('Slinky Dog (voice)', 'Jim Varney'), ('Rex (voice)', 'Wallace Shawn'), ('Hamm (voice)', 'John Ratzenberger'), ('Bo Peep (voice)', 'Annie Potts'), ('Andy (voice)', 'John Morris'), ('Sid (voice)', 'Erik von Detten'), ('Mrs. Davis (voice)', 'Laurie Metcalf'), ('Sergeant (voice)', 'R. Lee Ermey'), ('Hannah (voice)', 'Sarah Freeman'), ('TV Announcer (voice)', 'Penn Jillette')]
[('Directing', 'John Lasseter'), ('Writing', 'Joss Whedon'), ('Writing', 'Andrew Stanton'), ('Writing', 'Joel Cohen'), ('Writing', 'Alec Sokolow'), ('Production', 'Bonnie Arnold'), ('Production', 'Ed Catmull'), ('Production', 'Ralph Guggenheim'), ('Production', 'Steve Jobs'), ('Editing', 'Lee Unkrich'), ('Art', 'Ralph Eggleston'), ('Editing', 'Robert Gordon'), ('Sound', 'Mary Helen Leasman'), ('Visual Effects', 'Kim Blanchette'), ('Sound', 'Marilyn McCoppen'), ('Sound', 'Randy Newman'), ('Editing', 'Dale E. Grahn'), ('Visual Effects', 'Robin Cooper'), ('Writing', 'John Lasseter'), ('Writing', 'Pete Docter'), ('Writing', 'Joe Ranft'), ('Crew', 'Patsy Bouge'), ('Art', 'Norm DeCarlo'), ('Visual Effects', 'Ash Brannon'), ('Sound', 'Randy Newman'), ('Directing', 'Roman Figun'), ('Sound', 'Don Davis'), ('Sound', 'James Flamberg'), ('Editing', 'Mary Beth Smith'), ('Editing', 'Rick Mackay'), ('Art', 'Susan Bradley'), ('Crew', 'William Reeves'), ('Sound', 'Randy Newman'), ('Writing', 'Andrew Stanton'), ('Crew', 'Pete Docter'), ('Sound', 'Gary Rydstrom'), ('Production', 'Karen Robert Jackson'), ('Crew', 'Chris Montan'), ('Visual Effects', 'Rich Quade'), ('Visual Effects', 'Michael Berenstein'), ('Visual Effects', 'Colin Brady'), ('Visual Effects', 'Davey Crockett Feiten'), ('Visual Effects', 'Angie Glocka'), ('Visual Effects', 'Rex Grignon'), ('Visual Effects', 'Tom K. Gurney'), ('Visual Effects', 'Jimmy Hayward'), ('Visual Effects', 'Hal T. Hickel'), ('Visual Effects', 'Karen Kiser'), ('Visual Effects', 'Anthony B. LaMolinara'), ('Visual Effects', 'Guionne Leroy'), ('Visual Effects', 'Bud Luckey'), ('Visual Effects', 'Les Major'), ('Visual Effects', 'Glenn McQueen'), ('Visual Effects', 'Mark Oftedal'), ('Visual Effects', 'Jeff Pidgeon'), ('Visual Effects', 'Jeff Pratt'), ('Visual Effects', 'Steve Rabatich'), ('Visual Effects', 'Roger Rose'), ('Visual Effects', 'Steve Segal'), ('Visual Effects', 'Doug Sheppeck'), ('Visual Effects', 'Alan Sperling'), ('Visual Effects', 'Doug Sweetland'), ('Visual Effects', 'David Tart'), ('Visual Effects', 'Ken Willard'), ('Visual Effects', 'Thomas Porter'), ('Visual Effects', 'Mark Thomas Henne'), ('Visual Effects', 'Oren Jacob'), ('Visual Effects', 'Darwyn Peachey'), ('Visual Effects', 'Mitch Prater'), ('Visual Effects', 'Brian M. Rosen'), ('Lighting', 'Sharon Calahan'), ('Lighting', 'Galyn Susman'), ('Visual Effects', 'William Cone'), ('Art', 'Shelley Daniels Lekven'), ('Visual Effects', 'Bob Pauley'), ('Visual Effects', 'Bud Luckey'), ('Visual Effects', 'Andrew Stanton'), ('Visual Effects', 'William Cone'), ('Visual Effects', 'Steve Johnson'), ('Visual Effects', 'Dan Haskett'), ('Visual Effects', 'Tom Holloway'), ('Visual Effects', 'Jean Gillmore'), ('Directing', 'Desirée Mourad'), ('Art', "Kelly O'Connell"), ('Art', 'Sonoko Konishi'), ('Art', 'Ann M. Rockwell'), ('Editing', 'Julie M. McDonald'), ('Editing', 'Robin Lee'), ('Editing', 'Tom Freeman'), ('Editing', 'Ada Cochavi'), ('Editing', 'Dana Mulligan'), ('Editing', 'Deirdre Morrison'), ('Production', 'Lori Lombardo'), ('Production', 'Ellen Devine'), ('Crew', 'Lauren Beth Strogoff'), ('Sound', 'Gary Rydstrom'), ('Sound', 'Gary Summers'), ('Sound', 'Tim Holland'), ('Sound', 'Pat Jackson'), ('Crew', 'Tom Myers'), ('Sound', 'J.R. Grubbs'), ('Sound', 'Susan Sanford'), ('Sound', 'Susan Popovic'), ('Sound', 'Dan Engstrom'), ('Production', 'Ruth Lambert'), ('Production', 'Mickie McGowan')]
['John Lasseter', 'Roman Figun', 'Desirée Mourad']

In [4]:
df_movies.info()

NameError: name 'df_movies' is not defined

In [76]:
df_movies.head(3)

,belongs_to_collection,genres,spoken_languages,production_companies,production_countries,cast,crew,directors,budget,id,original_language,overview,popularity,revenue,runtime,status,tagline,title,vote_average,vote_count,id,release _date,release_year
0,Toy Story,"[Animation, Comedy, Family]",[English],[Pixar Animation Studios],[United States of America],"[(Woody (voice), Tom Hanks), (Buzz Lightyear (...","[(Directing, John Lasseter), (Writing, Joss Wh...","[John Lasseter, Roman Figun, Desirée Mourad]",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,862,1995-10-30,1995
1,,"[Adventure, Fantasy, Family]","[English, Français]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[(Alan Parrish, Robin Williams), (Samuel Alan ...","[(Production, Larry J. Franco), (Writing, Jona...",[Joe Johnston],65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,8844,1995-12-15,1995
2,Grumpy Old Men,"[Romance, Comedy]",[English],"[Warner Bros., Lancaster Gate]",[United States of America],"[(Max Goldman, Walter Matthau), (John Gustafso...","[(Directing, Howard Deutch), (Writing, Mark St...",[Howard Deutch],0,15602,en,A family wedding reignites the ancient feud be...,11.7129,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,15602,1995-12-22,1995

In [ ]:
#Exportamos el dataframe limpio
df_movies.to_csv('df_movies_clean', index=False)

Funciones para la API

In [7]:
import pandas as pd

In [8]:
df_movies= pd.read_csv(r'C:\Users\Edwin\Desktop\Henry\M7. Proyecto Individual\df_movies_clean')

C:\Users\Edwin\AppData\Local\Temp\ipykernel_5676\3981035016.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies= pd.read_csv(r'C:\Users\Edwin\Desktop\Henry\M7. Proyecto Individual\df_movies_clean')

In [9]:
df_movies.head(3)

,belongs_to_collection,genres,spoken_languages,production_companies,production_countries,cast,crew,directors,budget,id,...,revenue,runtime,status,tagline,title,vote_average,vote_count,id.1,release _date,release_year
0,Toy Story,"['Animation', 'Comedy', 'Family']",['English'],['Pixar Animation Studios'],['United States of America'],"[('Woody (voice)', 'Tom Hanks'), ('Buzz Lighty...","[('Directing', 'John Lasseter'), ('Writing', '...","['John Lasseter', 'Roman Figun', 'Desirée Mour...",30000000,862,...,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,862,1995-10-30,1995.0
1,NaN,"['Adventure', 'Fantasy', 'Family']","['English', 'Français']","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],"[('Alan Parrish', 'Robin Williams'), ('Samuel ...","[('Production', 'Larry J. Franco'), ('Writing'...",['Joe Johnston'],65000000,8844,...,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,8844,1995-12-15,1995.0
2,Grumpy Old Men,"['Romance', 'Comedy']",['English'],"['Warner Bros.', 'Lancaster Gate']",['United States of America'],"[('Max Goldman', 'Walter Matthau'), ('John Gus...","[('Directing', 'Howard Deutch'), ('Writing', '...",['Howard Deutch'],0,15602,...,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,15602,1995-12-22,1995.0

In [10]:
def peliculas_idioma(idioma: str):
    cantidad = len(df_movies[df_movies['original_language'] == idioma])
    return f"{cantidad} películas fueron producidas en {idioma}"

In [11]:
peliculas_idioma("en")

'32202 películas fueron producidas en en'

In [ ]:
def peliculas_duracion( Pelicula: str ):

In [ ]:
def franquicia( Franquicia: str ):

In [ ]:
def peliculas_pais( Pais: str ):

In [ ]:
def productoras_exitosas( Productora: str ):

In [ ]:
def get_director( nombre_director ):